<script>
    $(document).ready(function() {
        $("#ordernotes-grid").kendoGrid({
            dataSource: {
                type: "json",
                transport: {
                    read: {
                        url: "/Admin/Order/OrderNotesSelect?orderId=2",
                        type: "POST",
                        dataType: "json",
                        data: addAntiForgeryToken
                    },
                    destroy: {
                        url: "/Admin/Order/OrderNoteDelete?orderId=2",
                        type: "POST",
                        dataType: "json",
                        data: addAntiForgeryToken
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors",
                    model: {
                        id: "Id",
                        fields: {
                            //do not implicitly specify all fields
                            //we do it only for fields which implicitly require it
                            //otherwise, they'll be formatted wrong way
                            CreatedOn: {
                                type: "date"
                            }
                        }
                    }
                },
                error: function(e) {
                    display_kendoui_grid_error(e);
                    // Cancel the changes
                    this.cancelChanges();
                },
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true
            },
            pageable: {
                refresh: true,
                numeric: false,
                previousNext: false,
                info: false,
                messages: {
                    display: "{0} - {1} of {2} items",
                    empty: "No items to display",
                    page: "Page",
                    of: "of {0}",
                    itemsPerPage: "items per page",
                    first: "Go to the first page",
                    previous: "Go to the previous page",
                    next: "Go to the next page",
                    last: "Go to the last page",
                    refresh: "Refresh",
                    allPages: "All",
                    morePages: "More pages"
                }
            },
            editable: {
                confirmation: "Are you sure you want to delete this item?",
                mode: "inline"
            },
            scrollable: false,
            columns: [{
                field: "CreatedOn",
                title: "Created on",
                width: 200,
                type: "date",
                format: "{0:G}"
            }, {
                field: "Note",
                title: "Note",
                encoded: false
            }, {
                field: "DownloadId",
                title: "Attached file",
                width: 200,
                headerAttributes: {
                    style: "text-align:center"
                },
                attributes: {
                    style: "text-align:center"
                },
                template: '# if(DownloadId > 0) {# <a class="btn btn-default" href="/Admin/Download/DownloadFile?downloadGuid=#=DownloadGuid#"><i class="fa fa-download"></i>Download</a> #} else {# No file attached #} #'
            }, {
                field: "DisplayToCustomer",
                title: "Display to customer",
                width: 150,
                headerAttributes: {
                    style: "text-align:center"
                },
                attributes: {
                    style: "text-align:center"
                },
                template: '# if(DisplayToCustomer) {# <i class="fa fa-check true-icon"></i> #} else {# <i class="fa fa-close false-icon"></i> #} #'
            }, {
                command: {
                    name: "destroy",
                    text: "Delete"
                },
                title: "Delete",
                width: 100
            }]
        });
    });
</script>