<div id="productpictures-grid" data-role="grid" class="k-grid k-widget">
    <table role="grid">
        <colgroup>
            <col style="width:200px">
            <col style="width:150px">
            <col style="width:200px">
            <col style="width:200px">
            <col style="width:200px">
        </colgroup>
        <thead class="k-grid-header" role="rowgroup">
            <tr role="row">
                <th role="columnheader" data-field="PictureUrl" data-title="Picture" class="k-header">Picture</th>
                <th role="columnheader" data-field="DisplayOrder" data-title="Display order" class="k-header">Display order</th>
                <th role="columnheader" data-field="OverrideAltAttribute" data-title="Alt" class="k-header">Alt</th>
                <th role="columnheader" data-field="OverrideTitleAttribute" data-title="Title" class="k-header">Title</th>
                <th class="k-header"></th>
            </tr>
        </thead>
        <tbody role="rowgroup">
            <tr class="k-alt" data-uid="027b02f4-7a83-49b1-97e7-adc421db3173" role="row">
                <td role="gridcell">
                    <a href="http://admin-demo.nopcommerce.com/content/images/thumbs/0000081_100-physical-gift-card.jpeg" target="_blank"><img alt="81" src="http://admin-demo.nopcommerce.com/content/images/thumbs/0000081_100-physical-gift-card.jpeg" width="150"></a>
                </td>
                <td role="gridcell">5</td>
                <td role="gridcell"></td>
                <td role="gridcell"></td>
                <td role="gridcell"><a class="k-button k-button-icontext k-grid-edit" href="#"><span class="k-icon k-edit"></span>Edit</a><a class="k-button k-button-icontext k-grid-delete" href="#"><span class="k-icon k-delete"></span>Delete</a></td>
            </tr>
        </tbody>
    </table>
    <div class="k-pager-wrap k-grid-pager k-widget" data-role="pager"><a href="#" class="k-pager-refresh k-link" title="Refresh"><span class="k-icon k-i-refresh">Refresh</span></a></div>
</div>